.chat-main
  .top
    .top__left-box
      .top__left-box__group-name
        = @group.name
      .top__left-box__members
        ="Member:" + @group.users.pluck(:name).join(", ")
        -# "頭に表示したい文字列" + モデル名.users tableへのアソシエーション.pluck(:取り出したいカラム).join("取り出した値の区切り文字")
    .top__edit-btn
      = link_to edit_group_path(current_user) do
        = "Edit"
  .middle
    .messages
      = render @messages
  .bottom
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
